<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<!-- Login Container -->
<div class="recovery-container">
  <div class="recovery-box">
    <h2 class="center-title">Login</h2>
    <!-- Thymeleaf-Formular eingefügt -->
    <form th:action="@{/login}" method="post">
      <div class="input-container">
        <label>Benutzername: <input type="text" name="username" required/></label>
      </div>
      <div class="input-container">
        <label>Passwort: <input type="password" name="password" required/></label>
      </div>
      <button type="submit" class="login-btn">Anmelden</button>
      <br><br>
      <button type="" class="login-btn"><a th:href="@{/password}">Passwort vergessen?</a></button>
    </form>
  </div>
</div>
</body>
</html>

