<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Recovery</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<!-- Wrapper Container for Login -->
<div class="password-recovery-wrapper">
  <!-- Login Container -->
  <div class="recovery-container">
    <div class="recovery-box">
      <form action="/password-reset" method="post" th:action="@{/password-reset}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required>

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">E-Mail-Adresse:</label>
      <input type="email" id="email" name="email" required>

      <button type="submit">Passwort zurücksetzen</button>
    </form>

    <!-- Erfolgsmeldung -->
    <div th:if="${resetSuccess}" class="success-message">
      <p>Ihr Passwort wurde erfolgreich auf <strong><p th:text="${newPassword}"></p></strong> zurückgesetzt. Bitte melden Sie sich an und ändern Sie das Passwort umgehend.</p>
    </div>

      <!-- Fehlermeldung -->
      <div th:if="${resetError}" class="error-message">
        <p>Die eingegebenen Daten stimmen nicht überein. Bitte überprüfen Sie Ihre Eingaben und versuchen Sie es erneut.</p>
      </div>

      <br>

      <button type="" class="recovery-btn"><a th:href="@{/login}">Zurück zum Login</a></button>
    </div>
  </div>
</div>
</body>
</html>
